//ШРИФТЫ
$font: "Comfortaa", "Arial", "Helvetica", "Helvetica CY", "Nimbus Sans";

//РАЗРЕШЕНИЯ И ОТСТУПЫ
$desktop: 1600px;
$tablet: 1000px;
$mobile-max: 480px;
$mobile-min: 320px;
$desktop-gap: 50px;
$tablet-gap: 30px;
$mobile-gap: 20px;
